* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50vh;
  background-image: url("../images/Rectangle\ 18.png");
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav{
  width: 100%;
  height: 80px;
  color: white;
  background-color: rgb(246, 23, 42);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/main-bg.png");
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  width: 100%;
  height: 80px;
  color: white;
  background-color: rgb(246, 23, 42, 0.1);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.menu {
  margin-left: -350px;
  display: flex;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 10px 50px;
  font-weight: 700;
  font-size: 20px;
}

#menu-icon {
  cursor: pointer;
  z-index: 10001;
  display: none;
}


.header-txt {
  max-width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.header-txt h1 {
  font-family: "Kalam";
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}


/* scrller */

.scrlbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
  text-align: center;
  text-decoration: none;
  color: white;
}


/* .mid-sec{
    margin-bottom: 100px;
} */


/* about */

.container {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.left {
  width: 65%;
  height: 600px;
}

.right {
  background-color: #f6172a;
  width: 35%;
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: -400px;
  margin-top: -140px;
}

.right p {
  margin-top: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app-container {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.app-left {
  width: 40%;
  margin-left: 50px;
  margin-right: 120px;
  margin-top: -100px;
}

.app-right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.app-container h1 {
  font-size: 36px;
  color: #f6172a;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 40px;
}

.app-container p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#googleplay {
  width: 170px;
  height: 60px;
  margin-top: 30px;
}


/* Gallery */

.gallery-container {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.column {
  padding: 0 100px 50px 0;
  text-align: center;
  justify-content: center;
}

.one {
  margin-left: 250px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 16px;
  text-align: center;
  width: 75%;
}

.card .imgbtn {
  background-color: #F6172A;
  color: white;
  border: none;
  border-radius: 0px 10px 10px 0;
  padding: 5px 50px 5px 50px;
  font-size: 18px;
  transform: translate(-50%, -500%);

}

.gallery-btn {
  background-color: #F6172A;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  cursor: pointer;
}

.gallery-btn a {
  color: white;
  text-decoration: none;
}

/* Contact */

/* .cntct-container{
margin-bottom: 100px !important;
} */

.contact {
  background-color: #F6172A;
  border-radius: 10px;
  height: 35vh;
  width: 80%;
  align-items: center;
  margin-left: 150px;
  margin-bottom: 50px;
}

.btn-div {
  height: 20vh;
}

.contact-btn1 {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0px 10px 10px 0;
  padding: 10px 80px 10px 80px;
  font-size: 24px;
  transform: translate(0%, 70%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: 600;
}

.contact-btn2 {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0px 30px 0px 0;
  padding: 15px 40px 15px 40px;
  font-size: 24px;
  transform: translate(1000%, 10%) rotate(90deg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: 600;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.address {
  width: 30%;
  text-align: center;
}

.address a {
  margin-left: 20px;
}


/* Terms */

.terms-logo{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  padding: 10px 400px 10px 400px;
  font-size: 24px;
  transform: translate(25%, 350%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: 600;

}

.terms-info{
  margin-top: 50px;
  margin-bottom: 100px;
  width: 65%;
  margin-left: 250px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  text-align: left;
}


/* footer */

.footer {
  background-color: rgb(255, 255, 255);
  color: #000000;
  width: 70%;
  bottom: 0;
  left: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer .heading {
  color: #000000;
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.footer img {
  margin-left: 5px;
}

.footer .content a {
  text-decoration: none;
  color: #000000;
}

.footer .content a:hover {
  border-bottom: 1px solid #e94343;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

.legal {
  list-style: none;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

.links {
  text-decoration: none;
  color: black;
}

.footlinks {
  float: left;
  margin-left: 120px;
}

footer hr {
  margin: 5px 5px 0 120px;
  width: 1300px;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}