@media only screen and (max-width:600px) {
    .home-link .logo {
        margin-left: -30px;
    }

    #navbar-toggle {
        margin-top: 20px;
    }

    .hero-text {
        position: relative;
        top: 0%;
        width: 100%;
        left: 0%;
    }

    .hero-text .download-btn-2 {
        padding: 20px;
        text-transform: uppercase;
        border-radius: 57px;
        background: #FFF;
        color: #000;
        box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.25);
        width: auto;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 10px;
        align-items: center;
        text-decoration: none;
        margin-top: 80px;
    }

    .about-img .about-circle{
        opacity: 0.6;
        right: 15%;
    }

    #about .about-circle-2{
        opacity: 0.4;
    }

    .hero-text p {
        color: #000;
        font-size: 15px;
        font-weight: 600;
        /* line-height: 140%; */
        margin: 30px 0;
    }

    .hero-text h1 {
        color: #000;
        font-size: 30px;
        font-weight: bolder;
        /* line-height: 140%; */
        text-transform: none;
    }

    .hero-img .phone-img {
        position: absolute;
        left: 20%;
        top: -70%;
        height: 400px;
        width: 400px;
    }

    .hero-img .phone-img2 {
        position: absolute;
        right: 1%;
        top: 150%;
        width: 90%;
        height: 50%;
    }

    .hero-img .phone-img3 {
        position: absolute;
        right: 50%;
        top: 70%;
        width: 90%;
        height: 50%;
    }

    #quote>h1 {
        color: #FFF;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: 3px;
        text-transform: none;
    }

    .about-img .about-bg {
        width: 200px;
        height: 300px;
        position: absolute;
        right: 40px;
        bottom: 80px;
    }

    .about-img .about-gif {
        position: absolute;
        right: 25%;
        border-radius: 20px;
        width: 250px;
        /* bottom: 30px; */
        height: 250px;
        top: 60%;
    }

    .about-text>h3 {
        color: #000;
        font-size: 30px;
        font-weight: 600;
        text-transform: none;
        margin-bottom: 10px;
    }

    .about-text {
        width: 100%;
        margin-top: -250px;
    }

    .about-text>p {
        color: #000;
        font-size: 15px;
        font-weight: bold;
        line-height: 125%;
        text-align: justify;
        text-transform: none;
    }

    .approach-box>p {
        color: #FFF;
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
        width: 100%;
        text-transform: none;
        margin: 0px;
    }

    .approach-box>h3 {
        text-transform: none;
        font-size: 30px;
    }

    .approach-box>h1 {
        color: #FFF;
        text-align: justify;
        font-size: 17px;
        font-weight: 400;
        text-transform: none;
        margin-top: 20px;
    }

    .contact .contact-text>p {
        margin-bottom: 10px;
    }

    #contact-footer .contact {
        display: block;
        margin-top: 170%;
        width: 100%;
    }

    .contact .contact-text {
        width: 100%;
        text-transform: none;
    }

    .footer-circle-2 {
        position: absolute;
        left: 20%;
        top: 8%;
        width: 10%;
        height: 10%;
    }

    #contact-footer .contact .contact-form {
        background: #FFF;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        padding: 30px;
        margin-left: 0%;
        margin-top: 20px;
    }

    .footer-circle {
        position: absolute;
        top: 45%;
        right: 10%;
    }

    #contact-footer {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        /* margin-top: 10%; */
    }

    #contact-footer::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    #contact-footer .contact {
        display: block;
        margin-top: 270%;
        width: 100%;
    }


}